
primary = #4599DF
secondary = #F0B544

html {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
    scroll-behavior: smooth;
}

body {
    background: primary
}

.markdown 
    color: #666666
    background-color: white
    padding: 24px

.markdown, .app-header 
    .header-anchor
        display: none

    h1 
        font-size: 150%
        margin-top: 2rem
        margin-bottom: 1rem
        font-weight: bold

    h2 
        font-size: 120%
        margin-top: 1rem
        margin-bottom: 0.5rem
        font-weight: bold

    h3 
        font-size: 100%
        margin-top: 1rem
        margin-bottom: 0.5rem
        font-weight: bold
