
primary = #4599DF
secondary = #F0B544

html {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
    scroll-behavior: smooth;
}

body {
    background: primary
}

button,
.gradient2 {
    background: secondary
}

.right-arrow {
    display: inline-block;
    line-height: 38px;
    position: relative;
}
.right-arrow:before, .right-arrow:after {
    content:"";
    border-style: solid;
    border-width: 0;
    height: 0;
    position: absolute;
    width: 0;
}
.right-arrow {
    background-color: secondary
}
.right-arrow:after, .right-arrow:before {
    border-width: 19px 0 19px 19px;
}
.right-arrow:before {
    border-color: secondary transparent;
    left: -19px;
}
.right-arrow:after {
    border-color: transparent secondary;
    right: -19px;
}


/* Browser mockup code
* Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
* Live example: https://updown.io
*/

.browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    position: relative;
}

.browser-mockup:before {
    display: block;
    position: absolute;
    content: "";
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup > * {
    display: block;
}

/* Custom code for the demo */
