
primary = #4599DF
secondary = #F0B544

html, body, #app, .content__default
    height: 100%

html
    scroll-behavior: smooth
    -webkit-overflow-scrolling: touch;
ul
    list-style-type: disc
    

.content
    margin-left: 100px

.slider
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth;

    img
        flex-shrink: 0;
        scroll-snap-align: start;


.process 
    position: fixed
    top: 10%
    width: 280px

    .step 
        background-color: primary
        color: white
        display: block
        margin-top: 15px
        z-index: 20
        border: primary 2px solid

        &:hover
            background-color: secondary
            border: white 2px solid

