@tailwind base;

@tailwind components;


.process
   for width in 8 10 12 14 16 18 20 22 24 26

        .custom-tr-{width} 
            @media screen and (min-width: 640px)
                --transform-translate-x: (-270px+(10px*width))
            @media screen and (max-width: 640px)
                --transform-translate-x: -245px

            &:hover
                @media screen and (min-width: 640px)
                    --transform-translate-x: (-250px+(10px*width))
                @media screen and (max-width: 640px)
                    --transform-translate-x: -80px

@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Roboto);


* {
    font-family: Roboto;
    font-weight: 300;
}

